In [16]:
import pandas as pd
import numpy as np

In [17]:
file_path = "Resources/analytic_data2015.csv"
# DataSource 1: https://www.countyhealthrankings.org/sites/default/files/analytic_data2015.csv
# DataSource 2: https://www.countyhealthrankings.org/sites/default/files/DataDictionary_2015.pdf
health_df = pd.read_csv(file_path)
health_df

/var/folders/fx/3xjkq6_j0w52ql5m_lv0vsbr0000gn/T/ipykernel_4510/3533012543.py:4: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461) have mixed types. Specify dtype option on import or set low_memory=False.
  health_df = pd.read_csv(file_path)

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
0,statecode,countycode,fipscode,state,county,year,county_ranked,v001_rawvalue,v001_numerator,v001_denominator,...,v013_rawvalue,v016_rawvalue,v017_rawvalue,v025_rawvalue,v026_rawvalue,v027_rawvalue,v031_rawvalue,v032_rawvalue,v035_rawvalue,v097_rawvalue
1,00,000,00000,US,United States,2015,NaN,6621.61,3293135,877624573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01,000,01000,AL,Alabama,2015,NaN,9507.9,72385,13527993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01,001,01001,AL,Autauga County,2015,1,8405.21,754,157345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01,003,01003,AL,Baldwin County,2015,1,7456.89,2460,519994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County,2015,1.0,7064.96,420.0,128664.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,39,56039,WY,Teton County,2015,1.0,3852.81,112.0,62107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,41,56041,WY,Uinta County,2015,1.0,7435.94,225.0,60881.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,43,56043,WY,Washakie County,2015,1.0,7571.92,105.0,23359.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,56,45,56045,WY,Weston County,2015,1.0,7819.0,87.0,19780.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
country_df = health_df[health_df['Name'] == "United States"]
country_df

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
1,00,000,00000,US,United States,2015,NaN,6621.61,3293135,877624573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
state_df = health_df[health_df['County FIPS Code'] == "000"]
state_df

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
1,00,000,00000,US,United States,2015,NaN,6621.61,3293135,877624573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01,000,01000,AL,Alabama,2015,NaN,9507.9,72385,13527993,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,02,000,02000,AK,Alaska,2015,NaN,7320.71,7234,2102802,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,04,000,04000,AZ,Arizona,2015,NaN,6714.29,66101,18230639,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,05,000,05000,AR,Arkansas,2015,NaN,9067.86,42589,8238994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,06,000,06000,CA,California,2015,NaN,5295.43,306204,106933596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,08,000,08000,CO,Colorado,2015,NaN,5756.44,43885,14591057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,09,000,09000,CT,Connecticut,2015,NaN,5283.6,31214,9990454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,10,000,10000,DE,Delaware,2015,NaN,7358.62,10535,2547753,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,11,000,11000,DC,District of Columbia,2015,NaN,8239.14,7246,1755905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,12,000,12000,FL,Florida,2015,NaN,6892.95,218932,52448065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,13,000,13000,GA,Georgia,2015,NaN,7314.25,110837,28103988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557,15,000,15000,HI,Hawaii,2015,NaN,5675.54,12437,3837053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,16,000,16000,ID,Idaho,2015,NaN,6045.53,14942,4486499,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,17,000,17000,IL,Illinois,2015,NaN,6349.4,128644,36276708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
711,18,000,18000,IN,Indiana,2015,NaN,7527.6,78120,18360393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
804,19,000,19000,IA,Iowa,2015,NaN,5911.22,30480,8495469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,20,000,20000,KS,Kansas,2015,NaN,6811.92,30050,8049694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,21,000,21000,KY,Kentucky,2015,NaN,8899.65,63669,12319565,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1131,22,000,22000,LA,Louisiana,2015,NaN,9131.01,63167,12960163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1196,23,000,23000,ME,Maine,2015,NaN,6198.74,15257,3687122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,24,000,24000,MD,Maryland,2015,NaN,6458.54,59223,16506192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,25,000,25000,MA,Massachusetts,2015,NaN,5117.53,57642,18436535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1253,26,000,26000,MI,Michigan,2015,NaN,7217.74,115779,27715904,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1337,27,000,27000,MN,Minnesota,2015,NaN,5038.05,43953,15026821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1425,28,000,28000,MS,Mississippi,2015,NaN,10031.31,45313,8424038,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1508,29,000,29000,MO,Missouri,2015,NaN,7714.26,74293,16844559,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1624,30,000,30000,MT,Montana,2015,NaN,7226.72,11496,2790876,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1681,31,000,31000,NE,Nebraska,2015,NaN,5791.62,17223,5152075,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1775,32,000,32000,NV,Nevada,2015,NaN,7065,31759,7785752,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1793,33,000,33000,NH,New Hampshire,2015,NaN,5275.19,12713,3706724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1804,34,000,34000,NJ,New Jersey,2015,NaN,5558.3,81695,24746051,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1826,35,000,35000,NM,New Mexico,2015,NaN,7968.11,23713,5861419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1860,36,000,36000,NY,New York,2015,NaN,5456.72,177285,54612237,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1923,37,000,37000,NC,North Carolina,2015,NaN,7212.25,113459,27289561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,38,000,38000,ND,North Dakota,2015,NaN,6388.29,6468,1904079,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
county_df = health_df[health_df['County FIPS Code'] != "000"]
county_df

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
0,statecode,countycode,fipscode,state,county,year,county_ranked,v001_rawvalue,v001_numerator,v001_denominator,...,v013_rawvalue,v016_rawvalue,v017_rawvalue,v025_rawvalue,v026_rawvalue,v027_rawvalue,v031_rawvalue,v032_rawvalue,v035_rawvalue,v097_rawvalue
3,01,001,01001,AL,Autauga County,2015,1,8405.21,754,157345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01,003,01003,AL,Baldwin County,2015,1,7456.89,2460,519994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01,005,01005,AL,Barbour County,2015,1,8900.51,414,76718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,01,007,01007,AL,Bibb County,2015,1,10729.22,407,64629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County,2015,1.0,7064.96,420.0,128664.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,39,56039,WY,Teton County,2015,1.0,3852.81,112.0,62107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,41,56041,WY,Uinta County,2015,1.0,7435.94,225.0,60881.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,43,56043,WY,Washakie County,2015,1.0,7571.92,105.0,23359.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,56,45,56045,WY,Weston County,2015,1.0,7819.0,87.0,19780.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
county_df = county_df.loc[1:]
county_df

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
3,01,001,01001,AL,Autauga County,2015,1,8405.21,754,157345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01,003,01003,AL,Baldwin County,2015,1,7456.89,2460,519994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,01,005,01005,AL,Barbour County,2015,1,8900.51,414,76718,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,01,007,01007,AL,Bibb County,2015,1,10729.22,407,64629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,01,009,01009,AL,Blount County,2015,1,8668.52,861,162346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County,2015,1.0,7064.96,420.0,128664.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3190,56,39,56039,WY,Teton County,2015,1.0,3852.81,112.0,62107.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3191,56,41,56041,WY,Uinta County,2015,1.0,7435.94,225.0,60881.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3192,56,43,56043,WY,Washakie County,2015,1.0,7571.92,105.0,23359.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3193,56,45,56045,WY,Weston County,2015,1.0,7819.0,87.0,19780.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
county_df.columns

Index(['State FIPS Code', 'County FIPS Code', '5-digit FIPS Code',
       'State Abbreviation', 'Name', 'Release Year',
       'County Ranked (Yes=1/No=0)', 'Premature death raw value',
       'Premature death numerator', 'Premature death denominator',
       ...
       'Male population 18-44 raw value', 'Male population 45-64 raw value',
       'Male population 65+ raw value', 'Total male population raw value',
       'Female population 0-17 raw value', 'Female population 18-44 raw value',
       'Female population 45-64 raw value', 'Female population 65+ raw value',
       'Total female population raw value', 'Population growth raw value'],
      dtype='object', length=462)

In [23]:
county_df.isnull().sum()

State FIPS Code                         0
County FIPS Code                        0
5-digit FIPS Code                       0
State Abbreviation                      0
Name                                    0
                                     ...
Female population 18-44 raw value    3084
Female population 45-64 raw value    3084
Female population 65+ raw value      3084
Total female population raw value    3084
Population growth raw value          3084
Length: 462, dtype: int64

In [24]:
pct_null = county_df.isnull().sum()/len(county_df)
missing_features = pct_null[pct_null > 0.80].index
county_df.drop(missing_features, axis=1, inplace=True)
county_df

/var/folders/fx/3xjkq6_j0w52ql5m_lv0vsbr0000gn/T/ipykernel_4510/3348728470.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_df.drop(missing_features, axis=1, inplace=True)

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Release Year,County Ranked (Yes=1/No=0),Premature death raw value,Premature death numerator,Premature death denominator,...,% not proficient in English numerator,% not proficient in English denominator,% not proficient in English CI low,% not proficient in English CI high,% Females raw value,% Females numerator,% Females denominator,% Rural raw value,% Rural numerator,% Rural denominator
3,01,001,01001,AL,Autauga County,2015,1,8405.21,754,157345,...,245,51418,0.0012359395,0.0082937971,0.5149694096,28450,55246,0.4200216232,22921,54571
4,01,003,01003,AL,Baldwin County,2015,1,7456.89,2460,519994,...,2743,175830,0.0115962541,0.0196043374,0.5116753605,100053,195540,0.4227909911,77060,182265
5,01,005,01005,AL,Barbour County,2015,1,8900.51,414,76718,...,574,25730,0.0109105744,0.033706604,0.4651351751,12594,27076,0.677896347,18613,27457
6,01,007,01007,AL,Bibb County,2015,1,10729.22,407,64629,...,92,21464,0,0.0110628762,0.4599324805,10354,22512,0.6835260746,15663,22915
7,01,009,01009,AL,Blount County,2015,1,8668.52,861,162346,...,1254,53992,0.0177104932,0.0287408329,0.5055294443,29256,57872,0.8995150204,51562,57322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County,2015,1.0,7064.96,420.0,128664.0,...,808,40820,0.013118,0.02647,0.478745,21657,45237,0.109163,4782,43806
3190,56,39,56039,WY,Teton County,2015,1.0,3852.81,112.0,62107.0,...,616,20311,0.012017,0.04864,0.479747,10683,22268,0.464309,9887,21294
3191,56,41,56041,WY,Uinta County,2015,1.0,7435.94,225.0,60881.0,...,179,19370,0.001339,0.017143,0.493022,10386,21066,0.430959,9101,21118
3192,56,43,56043,WY,Washakie County,2015,1.0,7571.92,105.0,23359.0,...,120,7939,0.001072,0.029158,0.496632,4203,8463,0.359545,3068,8533
3193,56,45,56045,WY,Weston County,2015,1.0,7819.0,87.0,19780.0,...,11,6708,0.0,0.013008,0.475831,3406,7158,0.545366,3931,7208

In [25]:
column_list = county_df.columns.values.tolist()
column_list

['State FIPS Code',
 'County FIPS Code',
 '5-digit FIPS Code',
 'State Abbreviation',
 'Name',
 'Release Year',
 'County Ranked (Yes=1/No=0)',
 'Premature death raw value',
 'Premature death numerator',
 'Premature death denominator',
 'Premature death CI low',
 'Premature death CI high',
 'Poor or fair health raw value',
 'Poor or fair health numerator',
 'Poor or fair health denominator',
 'Poor or fair health CI low',
 'Poor or fair health CI high',
 'Poor physical health days raw value',
 'Poor physical health days denominator',
 'Poor physical health days CI low',
 'Poor physical health days CI high',
 'Poor mental health days raw value',
 'Poor mental health days denominator',
 'Poor mental health days CI low',
 'Poor mental health days CI high',
 'Low birthweight raw value',
 'Low birthweight numerator',
 'Low birthweight denominator',
 'Low birthweight CI low',
 'Low birthweight CI high',
 'Adult smoking raw value',
 'Adult smoking numerator',
 'Adult smoking denominator',
 'Adult smoking CI low',
 'Adult smoking CI high',
 'Adult obesity raw value',
 'Adult obesity numerator',
 'Adult obesity denominator',
 'Adult obesity CI low',
 'Adult obesity CI high',
 'Food environment index raw value',
 'Food environment index numerator',
 'Food environment index denominator',
 'Physical inactivity raw value',
 'Physical inactivity numerator',
 'Physical inactivity denominator',
 'Physical inactivity CI low',
 'Physical inactivity CI high',
 'Access to exercise opportunities raw value',
 'Access to exercise opportunities numerator',
 'Access to exercise opportunities denominator',
 'Excessive drinking raw value',
 'Excessive drinking numerator',
 'Excessive drinking denominator',
 'Excessive drinking CI low',
 'Excessive drinking CI high',
 'Alcohol-impaired driving deaths raw value',
 'Alcohol-impaired driving deaths numerator',
 'Alcohol-impaired driving deaths denominator',
 'Sexually transmitted infections raw value',
 'Sexually transmitted infections numerator',
 'Sexually transmitted infections denominator',
 'Teen births raw value',
 'Teen births numerator',
 'Teen births denominator',
 'Teen births CI low',
 'Teen births CI high',
 'Uninsured raw value',
 'Uninsured numerator',
 'Uninsured denominator',
 'Uninsured CI low',
 'Uninsured CI high',
 'Primary care physicians raw value',
 'Primary care physicians numerator',
 'Primary care physicians denominator',
 'Ratio of population to primary care physicians',
 'Dentists raw value',
 'Dentists numerator',
 'Dentists denominator',
 'Ratio of population to dentists',
 'Mental health providers raw value',
 'Mental health providers numerator',
 'Mental health providers denominator',
 'Ratio of population to mental health providers',
 'Preventable hospital stays raw value',
 'Preventable hospital stays denominator',
 'Preventable hospital stays CI low',
 'Preventable hospital stays CI high',
 'Diabetes monitoring raw value',
 'Diabetes monitoring denominator',
 'Diabetes monitoring CI low',
 'Diabetes monitoring CI high',
 'Mammography screening raw value',
 'Mammography screening denominator',
 'Mammography screening CI low',
 'Mammography screening CI high',
 'High school graduation raw value',
 'High school graduation numerator',
 'High school graduation denominator',
 'Some college raw value',
 'Some college numerator',
 'Some college denominator',
 'Some college CI low',
 'Some college CI high',
 'Unemployment raw value',
 'Unemployment numerator',
 'Unemployment denominator',
 'Children in poverty raw value',
 'Children in poverty numerator',
 'Children in poverty CI low',
 'Children in poverty CI high',
 'Income inequality raw value',
 'Income inequality numerator',
 'Income inequality denominator',
 'Income inequality CI low',
 'Income inequality CI high',
 'Children in single-parent households raw value',
 'Children in single-parent households numerator',
 'Children in single-parent households denominator',
 'Children in single-parent households CI low',
 'Children in single-parent households CI high',
 'Social associations raw value',
 'Social associations numerator',
 'Social associations denominator',
 'Violent crime raw value',
 'Violent crime numerator',
 'Violent crime denominator',
 'Injury deaths raw value',
 'Injury deaths numerator',
 'Injury deaths denominator',
 'Injury deaths CI low',
 'Injury deaths CI high',
 'Air pollution - particulate matter raw value',
 'Drinking water violations raw value',
 'Drinking water violations numerator',
 'Drinking water violations denominator',
 'Severe housing problems raw value',
 'Severe housing problems numerator',
 'Severe housing problems denominator',
 'Severe housing problems CI low',
 'Severe housing problems CI high',
 'Driving alone to work raw value',
 'Driving alone to work numerator',
 'Driving alone to work denominator',
 'Driving alone to work CI low',
 'Driving alone to work CI high',
 'Long commute - driving alone raw value',
 'Long commute - driving alone denominator',
 'Long commute - driving alone CI low',
 'Long commute - driving alone CI high',
 'Premature age-adjusted mortality raw value',
 'Premature age-adjusted mortality numerator',
 'Premature age-adjusted mortality denominator',
 'Premature age-adjusted mortality CI low',
 'Premature age-adjusted mortality CI high',
 'Child mortality raw value',
 'Child mortality numerator',
 'Child mortality denominator',
 'Child mortality CI low',
 'Child mortality CI high',
 'Infant mortality raw value',
 'Infant mortality numerator',
 'Infant mortality denominator',
 'Infant mortality CI low',
 'Infant mortality CI high',
 'Diabetes prevalence raw value',
 'Diabetes prevalence numerator',
 'Diabetes prevalence denominator',
 'Diabetes prevalence CI low',
 'Diabetes prevalence CI high',
 'HIV prevalence raw value',
 'HIV prevalence numerator',
 'HIV prevalence denominator',
 'Food insecurity raw value',
 'Food insecurity numerator',
 'Limited access to healthy foods raw value',
 'Limited access to healthy foods numerator',
 'Drug poisoning deaths raw value',
 'Drug poisoning deaths numerator',
 'Drug poisoning deaths denominator',
 'Motor vehicle crash deaths raw value',
 'Motor vehicle crash deaths numerator',
 'Motor vehicle crash deaths denominator',
 'Motor vehicle crash deaths CI low',
 'Motor vehicle crash deaths CI high',
 'Uninsured adults raw value',
 'Uninsured adults numerator',
 'Uninsured adults denominator',
 'Uninsured adults CI low',
 'Uninsured adults CI high',
 'Uninsured children raw value',
 'Uninsured children numerator',
 'Uninsured children denominator',
 'Uninsured children CI low',
 'Uninsured children CI high',
 'Health care costs raw value',
 'Health care costs denominator',
 'Other primary care providers raw value',
 'Other primary care providers numerator',
 'Other primary care providers denominator',
 'Ratio of population to primary care providers other than physicians',
 'Could not see doctor due to cost raw value',
 'Could not see doctor due to cost numerator',
 'Could not see doctor due to cost denominator',
 'Could not see doctor due to cost CI low',
 'Could not see doctor due to cost CI high',
 'Median household income raw value',
 'Median household income CI low',
 'Median household income CI high',
 'Children eligible for free lunch raw value',
 'Children eligible for free lunch numerator',
 'Children eligible for free lunch denominator',
 'Homicides raw value',
 'Homicides numerator',
 'Homicides denominator',
 'Homicides CI low',
 'Homicides CI high',
 'Population raw value',
 '% below 18 years of age raw value',
 '% below 18 years of age numerator',
 '% below 18 years of age denominator',
 '% 65 and older raw value',
 '% 65 and older numerator',
 '% 65 and older denominator',
 '% Non-Hispanic African American raw value',
 '% Non-Hispanic African American numerator',
 '% Non-Hispanic African American denominator',
 '% American Indian and Alaskan Native raw value',
 '% American Indian and Alaskan Native numerator',
 '% American Indian and Alaskan Native denominator',
 '% Asian raw value',
 '% Asian numerator',
 '% Asian denominator',
 '% Native Hawaiian/Other Pacific Islander raw value',
 '% Native Hawaiian/Other Pacific Islander numerator',
 '% Native Hawaiian/Other Pacific Islander denominator',
 '% Hispanic raw value',
 '% Hispanic numerator',
 '% Hispanic denominator',
 '% Non-Hispanic white raw value',
 '% Non-Hispanic white numerator',
 '% Non-Hispanic white denominator',
 '% not proficient in English raw value',
 '% not proficient in English numerator',
 '% not proficient in English denominator',
 '% not proficient in English CI low',
 '% not proficient in English CI high',
 '% Females raw value',
 '% Females numerator',
 '% Females denominator',
 '% Rural raw value',
 '% Rural numerator',
 '% Rural denominator']

In [26]:
def raw_value(list):
    raw_value_list = []
    for column in list:
        column_split = column.split()
        if column_split[-1] == "value": # and column_split[-2] == "raw"
            raw_value_list.append(column)
        if column_split[-1] != "value":
            continue
    return print(raw_value_list)
raw_value_list = raw_value(column_list)
print(raw_value_list)

['Premature death raw value', 'Poor or fair health raw value', 'Poor physical health days raw value', 'Poor mental health days raw value', 'Low birthweight raw value', 'Adult smoking raw value', 'Adult obesity raw value', 'Food environment index raw value', 'Physical inactivity raw value', 'Access to exercise opportunities raw value', 'Excessive drinking raw value', 'Alcohol-impaired driving deaths raw value', 'Sexually transmitted infections raw value', 'Teen births raw value', 'Uninsured raw value', 'Primary care physicians raw value', 'Dentists raw value', 'Mental health providers raw value', 'Preventable hospital stays raw value', 'Diabetes monitoring raw value', 'Mammography screening raw value', 'High school graduation raw value', 'Some college raw value', 'Unemployment raw value', 'Children in poverty raw value', 'Income inequality raw value', 'Children in single-parent households raw value', 'Social associations raw value', 'Violent crime raw value', 'Injury deaths raw value', 'Air pollution - particulate matter raw value', 'Drinking water violations raw value', 'Severe housing problems raw value', 'Driving alone to work raw value', 'Long commute - driving alone raw value', 'Premature age-adjusted mortality raw value', 'Child mortality raw value', 'Infant mortality raw value', 'Diabetes prevalence raw value', 'HIV prevalence raw value', 'Food insecurity raw value', 'Limited access to healthy foods raw value', 'Drug poisoning deaths raw value', 'Motor vehicle crash deaths raw value', 'Uninsured adults raw value', 'Uninsured children raw value', 'Health care costs raw value', 'Other primary care providers raw value', 'Could not see doctor due to cost raw value', 'Median household income raw value', 'Children eligible for free lunch raw value', 'Homicides raw value', 'Population raw value', '% below 18 years of age raw value', '% 65 and older raw value', '% Non-Hispanic African American raw value', '% American Indian and Alaskan Native raw value', '% Asian raw value', '% Native Hawaiian/Other Pacific Islander raw value', '% Hispanic raw value', '% Non-Hispanic white raw value', '% not proficient in English raw value', '% Females raw value', '% Rural raw value']
None

In [46]:
# cols = pd.Series(raw_value_list)

/var/folders/fx/3xjkq6_j0w52ql5m_lv0vsbr0000gn/T/ipykernel_4510/3817825770.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  cols = pd.Series(raw_value_list)

In [49]:
# cols = raw_value_list
# raw_value_df = county_df[cols]
# raw_value_df

In [ ]:
# for x in raw_value_list:
#     raw_value_df.append(county_df[x])

In [52]:
raw_value_df = county_df[['Premature death raw value', 
'Poor or fair health raw value', 
'Poor physical health days raw value', 
'Poor mental health days raw value', 
'Low birthweight raw value', 
'Adult smoking raw value', 
'Adult obesity raw value', 
'Food environment index raw value', 
'Physical inactivity raw value', 
'Access to exercise opportunities raw value', 
'Excessive drinking raw value', 
'Alcohol-impaired driving deaths raw value', 
'Sexually transmitted infections raw value', 
'Teen births raw value', 
'Uninsured raw value', 
'Primary care physicians raw value', 
'Dentists raw value', 
'Mental health providers raw value', 
'Preventable hospital stays raw value', 
'Diabetes monitoring raw value', 
'Mammography screening raw value', 
'High school graduation raw value', 
'Some college raw value', 
'Unemployment raw value', 
'Children in poverty raw value', 
'Income inequality raw value', 
'Children in single-parent households raw value', 
'Social associations raw value', 
'Violent crime raw value', 
'Injury deaths raw value', 
'Air pollution - particulate matter raw value', 
'Drinking water violations raw value', 
'Severe housing problems raw value', 
'Driving alone to work raw value', 
'Long commute - driving alone raw value', 
'Premature age-adjusted mortality raw value', 
'Child mortality raw value', 
'Infant mortality raw value', 
'Diabetes prevalence raw value', 
'HIV prevalence raw value', 
'Food insecurity raw value', 
'Limited access to healthy foods raw value', 
'Drug poisoning deaths raw value', 
'Motor vehicle crash deaths raw value', 
'Uninsured adults raw value', 
'Uninsured children raw value', 
'Health care costs raw value', 
'Other primary care providers raw value', 
'Could not see doctor due to cost raw value', 
'Median household income raw value', 
'Children eligible for free lunch raw value', 
'Homicides raw value', 
'Population raw value', 
'% below 18 years of age raw value', 
'% 65 and older raw value', 
'% Non-Hispanic African American raw value', 
'% American Indian and Alaskan Native raw value', 
'% Asian raw value', 
'% Native Hawaiian/Other Pacific Islander raw value', 
'% Hispanic raw value', 
'% Non-Hispanic white raw value', 
'% not proficient in English raw value', 
'% Females raw value', 
'% Rural raw value']]
raw_value_df

,Premature death raw value,Poor or fair health raw value,Poor physical health days raw value,Poor mental health days raw value,Low birthweight raw value,Adult smoking raw value,Adult obesity raw value,Food environment index raw value,Physical inactivity raw value,Access to exercise opportunities raw value,...,% 65 and older raw value,% Non-Hispanic African American raw value,% American Indian and Alaskan Native raw value,% Asian raw value,% Native Hawaiian/Other Pacific Islander raw value,% Hispanic raw value,% Non-Hispanic white raw value,% not proficient in English raw value,% Females raw value,% Rural raw value
3,8405.21,0.228,5.1,3.6,0.0908507909,0.217,0.313,7.2,0.279,0.7368382474,...,0.1351410057,0.1827281613,0.0050139377,0.0113673388,0.0009412446,0.0269883792,0.7590413786,0.0047648683,0.5149694096,0.4200216232
4,7456.89,0.127,3.3,3.8,0.0867018161,0.206,0.25,7.6,0.252,0.7361808356,...,0.1813490846,0.0937966656,0.0073744502,0.0088421806,0.0006597116,0.0457655723,0.8312161195,0.0156002957,0.5116753605,0.4227909911
5,8900.51,0.234,4.8,4.3,0.1187787537,0.251,0.384,5,0.323,0.4414539097,...,0.1585906338,0.4714507313,0.0058723593,0.005244497,0.0018466539,0.0483453981,0.4633254543,0.0223085892,0.4651351751,0.677896347
6,10729.22,0.179,4.7,5.1,0.127874369,0.259,0.373,7.6,0.332,0.3943704997,...,0.1428571429,0.2201492537,0.0039534471,0.0015547264,0.0013326226,0.0207000711,0.7456467662,0.0042862467,0.4599324805,0.6835260746
7,8668.52,0.242,5.9,3.9,0.0769075495,0.213,0.309,8.5,0.298,0.2550853076,...,0.1640862593,0.0163809787,0.0060478297,0.0027820017,0.0011231684,0.0871060271,0.8783349461,0.0232256631,0.5055294443,0.8995150204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,7064.96,0.142,3.7,3.7,0.094971,0.243,0.287,8.2,0.235,0.914144,...,0.090081,0.014833,0.01249,0.008754,0.001636,0.158631,0.795853,0.019794,0.478745,0.109163
3190,3852.81,0.059,2.1,2.3,0.062926,0.098,0.132,7.9,0.116,0.973842,...,0.118062,0.013697,0.010149,0.012754,0.001302,0.15053,0.806853,0.030328,0.479747,0.464309
3191,7435.94,0.135,4.0,3.5,0.089854,0.176,0.293,7.8,0.244,0.274695,...,0.105003,0.007358,0.012674,0.004177,0.002184,0.090525,0.875439,0.009241,0.493022,0.430959
3192,7571.92,0.106,2.8,2.3,0.052408,0.14,0.242,8.2,0.24,0.697293,...,0.192012,0.00768,0.016661,0.007326,0.001418,0.141557,0.825948,0.015115,0.496632,0.359545
3193,7819.0,0.162,3.5,3.0,0.089947,0.198,0.288,8.1,0.269,0.674112,...,0.173792,0.005029,0.016625,0.003493,0.00014,0.03758,0.922464,0.00164,0.475831,0.545366

In [54]:
raw_value_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157 entries, 3 to 3193
Data columns (total 64 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Premature death raw value                           3088 non-null   object
 1   Poor or fair health raw value                       2757 non-null   object
 2   Poor physical health days raw value                 2823 non-null   object
 3   Poor mental health days raw value                   2605 non-null   object
 4   Low birthweight raw value                           3058 non-null   object
 5   Adult smoking raw value                             2727 non-null   object
 6   Adult obesity raw value                             3157 non-null   object
 7   Food environment index raw value                    3157 non-null   object
 8   Physical inactivity raw value                       3157 non-null   object
 9   Access to exercise opportunities raw value          3144 non-null   object
 10  Excessive drinking raw value                        2241 non-null   object
 11  Alcohol-impaired driving deaths raw value           3133 non-null   object
 12  Sexually transmitted infections raw value           2975 non-null   object
 13  Teen births raw value                               3056 non-null   object
 14  Uninsured raw value                                 3156 non-null   object
 15  Primary care physicians raw value                   3018 non-null   object
 16  Dentists raw value                                  3075 non-null   object
 17  Mental health providers raw value                   2822 non-null   object
 18  Preventable hospital stays raw value                3005 non-null   object
 19  Diabetes monitoring raw value                       3107 non-null   object
 20  Mammography screening raw value                     3064 non-null   object
 21  High school graduation raw value                    2688 non-null   object
 22  Some college raw value                              3157 non-null   object
 23  Unemployment raw value                              3156 non-null   object
 24  Children in poverty raw value                       3156 non-null   object
 25  Income inequality raw value                         3157 non-null   object
 26  Children in single-parent households raw value      3156 non-null   object
 27  Social associations raw value                       3157 non-null   object
 28  Violent crime raw value                             2990 non-null   object
 29  Injury deaths raw value                             3036 non-null   object
 30  Air pollution - particulate matter raw value        3124 non-null   object
 31  Drinking water violations raw value                 3098 non-null   object
 32  Severe housing problems raw value                   3157 non-null   object
 33  Driving alone to work raw value                     3157 non-null   object
 34  Long commute - driving alone raw value              3157 non-null   object
 35  Premature age-adjusted mortality raw value          3088 non-null   object
 36  Child mortality raw value                           2012 non-null   object
 37  Infant mortality raw value                          1392 non-null   object
 38  Diabetes prevalence raw value                       3157 non-null   object
 39  HIV prevalence raw value                            2339 non-null   object
 40  Food insecurity raw value                           3157 non-null   object
 41  Limited access to healthy foods raw value           3157 non-null   object
 42  Drug poisoning deaths raw value                     2114 non-null   object
 43  Motor vehicle crash deaths raw value                2763 non-null   object
 44  Uninsured adults raw value                          3156 non-null   object
 45  Uninsured children raw value                        3156 non-null   object
 46  Health care costs raw value                         3151 non-null   object
 47  Other primary care providers raw value              3104 non-null   object
 48  Could not see doctor due to cost raw value          2402 non-null   object
 49  Median household income raw value                   3156 non-null   object
 50  Children eligible for free lunch raw value          2878 non-null   object
 51  Homicides raw value                                 1249 non-null   object
 52  Population raw value                                3157 non-null   object
 53  % below 18 years of age raw value                   3157 non-null   object
 54  % 65 and older raw value                            3157 non-null   object
 55  % Non-Hispanic African American raw value           3157 non-null   object
 56  % American Indian and Alaskan Native raw value      3157 non-null   object
 57  % Asian raw value                                   3157 non-null   object
 58  % Native Hawaiian/Other Pacific Islander raw value  3157 non-null   object
 59  % Hispanic raw value                                3157 non-null   object
 60  % Non-Hispanic white raw value                      3157 non-null   object
 61  % not proficient in English raw value               3157 non-null   object
 62  % Females raw value                                 3157 non-null   object
 63  % Rural raw value                                   3157 non-null   object
dtypes: object(64)
memory usage: 1.6+ MB

In [57]:
cols = raw_value_df.columns
cols

Index(['Premature death raw value', 'Poor or fair health raw value',
       'Poor physical health days raw value',
       'Poor mental health days raw value', 'Low birthweight raw value',
       'Adult smoking raw value', 'Adult obesity raw value',
       'Food environment index raw value', 'Physical inactivity raw value',
       'Access to exercise opportunities raw value',
       'Excessive drinking raw value',
       'Alcohol-impaired driving deaths raw value',
       'Sexually transmitted infections raw value', 'Teen births raw value',
       'Uninsured raw value', 'Primary care physicians raw value',
       'Dentists raw value', 'Mental health providers raw value',
       'Preventable hospital stays raw value', 'Diabetes monitoring raw value',
       'Mammography screening raw value', 'High school graduation raw value',
       'Some college raw value', 'Unemployment raw value',
       'Children in poverty raw value', 'Income inequality raw value',
       'Children in single-parent households raw value',
       'Social associations raw value', 'Violent crime raw value',
       'Injury deaths raw value',
       'Air pollution - particulate matter raw value',
       'Drinking water violations raw value',
       'Severe housing problems raw value', 'Driving alone to work raw value',
       'Long commute - driving alone raw value',
       'Premature age-adjusted mortality raw value',
       'Child mortality raw value', 'Infant mortality raw value',
       'Diabetes prevalence raw value', 'HIV prevalence raw value',
       'Food insecurity raw value',
       'Limited access to healthy foods raw value',
       'Drug poisoning deaths raw value',
       'Motor vehicle crash deaths raw value', 'Uninsured adults raw value',
       'Uninsured children raw value', 'Health care costs raw value',
       'Other primary care providers raw value',
       'Could not see doctor due to cost raw value',
       'Median household income raw value',
       'Children eligible for free lunch raw value', 'Homicides raw value',
       'Population raw value', '% below 18 years of age raw value',
       '% 65 and older raw value', '% Non-Hispanic African American raw value',
       '% American Indian and Alaskan Native raw value', '% Asian raw value',
       '% Native Hawaiian/Other Pacific Islander raw value',
       '% Hispanic raw value', '% Non-Hispanic white raw value',
       '% not proficient in English raw value', '% Females raw value',
       '% Rural raw value'],
      dtype='object')

In [58]:
short_columns = cols.str.rstrip(' raw value')
short_columns

Index(['Premature death', 'Poor or fair health', 'Poor physical health days',
       'Poor mental health days', 'Low birthweight', 'Adult smoking',
       'Adult obesity', 'Food environment index', 'Physical inactivity',
       'Access to exercise opportunities', 'Excessive drinking',
       'Alcohol-impaired driving deaths', 'Sexually transmitted infections',
       'Teen births', 'Uninsured', 'Primary care physicians', 'Dentists',
       'Mental health providers', 'Preventable hospital stays',
       'Diabetes monitoring', 'Mammography screening',
       'High school graduation', 'Some colleg', 'Unemployment',
       'Children in poverty', 'Income inequality',
       'Children in single-parent households', 'Social associations',
       'Violent crim', 'Injury deaths', 'Air pollution - particulate matt',
       'Drinking water violations', 'Severe housing problems',
       'Driving alone to work', 'Long commute - driving alon',
       'Premature age-adjusted mortality', 'Child mortality',
       'Infant mortality', 'Diabetes prevalenc', 'HIV prevalenc',
       'Food insecurity', 'Limited access to healthy foods',
       'Drug poisoning deaths', 'Motor vehicle crash deaths',
       'Uninsured adults', 'Uninsured children', 'Health care costs',
       'Other primary care providers', 'Could not see doctor due to cost',
       'Median household incom', 'Children eligible for free lunch',
       'Homicides', 'Population', '% below 18 years of ag', '% 65 and old',
       '% Non-Hispanic African American', '% American Indian and Alaskan Nati',
       '% Asian', '% Native Hawaiian/Other Pacific Island', '% Hispanic',
       '% Non-Hispanic whit', '% not proficient in English', '% Females',
       '% R'],
      dtype='object')

In [59]:
# Rename column names wiht short names which removed "raw value"
short_raw_value_df = raw_value_df.set_axis(short_columns, axis=1, inplace=False) # return a copy df.
short_raw_value_df

,Premature death,Poor or fair health,Poor physical health days,Poor mental health days,Low birthweight,Adult smoking,Adult obesity,Food environment index,Physical inactivity,Access to exercise opportunities,...,% 65 and old,% Non-Hispanic African American,% American Indian and Alaskan Nati,% Asian,% Native Hawaiian/Other Pacific Island,% Hispanic,% Non-Hispanic whit,% not proficient in English,% Females,% R
3,8405.21,0.228,5.1,3.6,0.0908507909,0.217,0.313,7.2,0.279,0.7368382474,...,0.1351410057,0.1827281613,0.0050139377,0.0113673388,0.0009412446,0.0269883792,0.7590413786,0.0047648683,0.5149694096,0.4200216232
4,7456.89,0.127,3.3,3.8,0.0867018161,0.206,0.25,7.6,0.252,0.7361808356,...,0.1813490846,0.0937966656,0.0073744502,0.0088421806,0.0006597116,0.0457655723,0.8312161195,0.0156002957,0.5116753605,0.4227909911
5,8900.51,0.234,4.8,4.3,0.1187787537,0.251,0.384,5,0.323,0.4414539097,...,0.1585906338,0.4714507313,0.0058723593,0.005244497,0.0018466539,0.0483453981,0.4633254543,0.0223085892,0.4651351751,0.677896347
6,10729.22,0.179,4.7,5.1,0.127874369,0.259,0.373,7.6,0.332,0.3943704997,...,0.1428571429,0.2201492537,0.0039534471,0.0015547264,0.0013326226,0.0207000711,0.7456467662,0.0042862467,0.4599324805,0.6835260746
7,8668.52,0.242,5.9,3.9,0.0769075495,0.213,0.309,8.5,0.298,0.2550853076,...,0.1640862593,0.0163809787,0.0060478297,0.0027820017,0.0011231684,0.0871060271,0.8783349461,0.0232256631,0.5055294443,0.8995150204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,7064.96,0.142,3.7,3.7,0.094971,0.243,0.287,8.2,0.235,0.914144,...,0.090081,0.014833,0.01249,0.008754,0.001636,0.158631,0.795853,0.019794,0.478745,0.109163
3190,3852.81,0.059,2.1,2.3,0.062926,0.098,0.132,7.9,0.116,0.973842,...,0.118062,0.013697,0.010149,0.012754,0.001302,0.15053,0.806853,0.030328,0.479747,0.464309
3191,7435.94,0.135,4.0,3.5,0.089854,0.176,0.293,7.8,0.244,0.274695,...,0.105003,0.007358,0.012674,0.004177,0.002184,0.090525,0.875439,0.009241,0.493022,0.430959
3192,7571.92,0.106,2.8,2.3,0.052408,0.14,0.242,8.2,0.24,0.697293,...,0.192012,0.00768,0.016661,0.007326,0.001418,0.141557,0.825948,0.015115,0.496632,0.359545
3193,7819.0,0.162,3.5,3.0,0.089947,0.198,0.288,8.1,0.269,0.674112,...,0.173792,0.005029,0.016625,0.003493,0.00014,0.03758,0.922464,0.00164,0.475831,0.545366

In [72]:
short_raw_value_df[short_columns] = short_raw_value_df[short_columns].apply(pd.to_numeric, errors='coerce', axis=1)
short_raw_value_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157 entries, 3 to 3193
Data columns (total 64 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Premature death                         3088 non-null   float64
 1   Poor or fair health                     2757 non-null   float64
 2   Poor physical health days               2823 non-null   float64
 3   Poor mental health days                 2605 non-null   float64
 4   Low birthweight                         3058 non-null   float64
 5   Adult smoking                           2727 non-null   float64
 6   Adult obesity                           3157 non-null   float64
 7   Food environment index                  3157 non-null   float64
 8   Physical inactivity                     3157 non-null   float64
 9   Access to exercise opportunities        3144 non-null   float64
 10  Excessive drinking                      2241 non-null   float64
 11  Alcohol-impaired driving deaths         3133 non-null   float64
 12  Sexually transmitted infections         2975 non-null   float64
 13  Teen births                             3056 non-null   float64
 14  Uninsured                               3156 non-null   float64
 15  Primary care physicians                 3018 non-null   float64
 16  Dentists                                3075 non-null   float64
 17  Mental health providers                 2822 non-null   float64
 18  Preventable hospital stays              3005 non-null   float64
 19  Diabetes monitoring                     3107 non-null   float64
 20  Mammography screening                   3064 non-null   float64
 21  High school graduation                  2688 non-null   float64
 22  Some colleg                             3157 non-null   float64
 23  Unemployment                            3156 non-null   float64
 24  Children in poverty                     3156 non-null   float64
 25  Income inequality                       3157 non-null   float64
 26  Children in single-parent households    3156 non-null   float64
 27  Social associations                     3157 non-null   float64
 28  Violent crim                            2990 non-null   float64
 29  Injury deaths                           3036 non-null   float64
 30  Air pollution - particulate matt        3124 non-null   float64
 31  Drinking water violations               3098 non-null   float64
 32  Severe housing problems                 3157 non-null   float64
 33  Driving alone to work                   3157 non-null   float64
 34  Long commute - driving alon             3157 non-null   float64
 35  Premature age-adjusted mortality        3088 non-null   float64
 36  Child mortality                         2012 non-null   float64
 37  Infant mortality                        1392 non-null   float64
 38  Diabetes prevalenc                      3157 non-null   float64
 39  HIV prevalenc                           2339 non-null   float64
 40  Food insecurity                         3157 non-null   float64
 41  Limited access to healthy foods         3157 non-null   float64
 42  Drug poisoning deaths                   2114 non-null   float64
 43  Motor vehicle crash deaths              2763 non-null   float64
 44  Uninsured adults                        3156 non-null   float64
 45  Uninsured children                      3156 non-null   float64
 46  Health care costs                       3151 non-null   float64
 47  Other primary care providers            3104 non-null   float64
 48  Could not see doctor due to cost        2402 non-null   float64
 49  Median household incom                  3156 non-null   float64
 50  Children eligible for free lunch        2878 non-null   float64
 51  Homicides                               1249 non-null   float64
 52  Population                              3157 non-null   float64
 53  % below 18 years of ag                  3157 non-null   float64
 54  % 65 and old                            3157 non-null   float64
 55  % Non-Hispanic African American         3157 non-null   float64
 56  % American Indian and Alaskan Nati      3157 non-null   float64
 57  % Asian                                 3157 non-null   float64
 58  % Native Hawaiian/Other Pacific Island  3157 non-null   float64
 59  % Hispanic                              3157 non-null   float64
 60  % Non-Hispanic whit                     3157 non-null   float64
 61  % not proficient in English             3157 non-null   float64
 62  % Females                               3157 non-null   float64
 63  % R                                     3157 non-null   float64
dtypes: float64(64)
memory usage: 1.7 MB

In [73]:
new_df = county_df[['State FIPS Code',
                        'County FIPS Code',
                        '5-digit FIPS Code',
                        'State Abbreviation',
                        'Name']]
new_df

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name
3,01,001,01001,AL,Autauga County
4,01,003,01003,AL,Baldwin County
5,01,005,01005,AL,Barbour County
6,01,007,01007,AL,Bibb County
7,01,009,01009,AL,Blount County
...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater County
3190,56,39,56039,WY,Teton County
3191,56,41,56041,WY,Uinta County
3192,56,43,56043,WY,Washakie County
3193,56,45,56045,WY,Weston County

In [74]:
new_df['Name'] = new_df['Name'].str.rstrip(' County')
new_df

/var/folders/fx/3xjkq6_j0w52ql5m_lv0vsbr0000gn/T/ipykernel_4510/4199797468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Name'] = new_df['Name'].str.rstrip(' County')

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name
3,01,001,01001,AL,Autauga
4,01,003,01003,AL,Baldwi
5,01,005,01005,AL,Barbour
6,01,007,01007,AL,Bibb
7,01,009,01009,AL,Bl
...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater
3190,56,39,56039,WY,Te
3191,56,41,56041,WY,Uinta
3192,56,43,56043,WY,Washakie
3193,56,45,56045,WY,Wes

In [75]:
new_df = new_df.merge(short_raw_value_df, left_index=True, right_index=True)
new_df

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Premature death,Poor or fair health,Poor physical health days,Poor mental health days,Low birthweight,...,% 65 and old,% Non-Hispanic African American,% American Indian and Alaskan Nati,% Asian,% Native Hawaiian/Other Pacific Island,% Hispanic,% Non-Hispanic whit,% not proficient in English,% Females,% R
3,01,001,01001,AL,Autauga,8405.21,0.228,5.1,3.6,0.090851,...,0.135141,0.182728,0.005014,0.011367,0.000941,0.026988,0.759041,0.004765,0.514969,0.420022
4,01,003,01003,AL,Baldwi,7456.89,0.127,3.3,3.8,0.086702,...,0.181349,0.093797,0.007374,0.008842,0.000660,0.045766,0.831216,0.015600,0.511675,0.422791
5,01,005,01005,AL,Barbour,8900.51,0.234,4.8,4.3,0.118779,...,0.158591,0.471451,0.005872,0.005244,0.001847,0.048345,0.463325,0.022309,0.465135,0.677896
6,01,007,01007,AL,Bibb,10729.22,0.179,4.7,5.1,0.127874,...,0.142857,0.220149,0.003953,0.001555,0.001333,0.020700,0.745647,0.004286,0.459932,0.683526
7,01,009,01009,AL,Bl,8668.52,0.242,5.9,3.9,0.076908,...,0.164086,0.016381,0.006048,0.002782,0.001123,0.087106,0.878335,0.023226,0.505529,0.899515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater,7064.96,0.142,3.7,3.7,0.094971,...,0.090081,0.014833,0.012490,0.008754,0.001636,0.158631,0.795853,0.019794,0.478745,0.109163
3190,56,39,56039,WY,Te,3852.81,0.059,2.1,2.3,0.062926,...,0.118062,0.013697,0.010149,0.012754,0.001302,0.150530,0.806853,0.030328,0.479747,0.464309
3191,56,41,56041,WY,Uinta,7435.94,0.135,4.0,3.5,0.089854,...,0.105003,0.007358,0.012674,0.004177,0.002184,0.090525,0.875439,0.009241,0.493022,0.430959
3192,56,43,56043,WY,Washakie,7571.92,0.106,2.8,2.3,0.052408,...,0.192012,0.007680,0.016661,0.007326,0.001418,0.141557,0.825948,0.015115,0.496632,0.359545
3193,56,45,56045,WY,Wes,7819.00,0.162,3.5,3.0,0.089947,...,0.173792,0.005029,0.016625,0.003493,0.000140,0.037580,0.922464,0.001640,0.475831,0.545366

In [76]:
new_df.info()
new_df

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157 entries, 3 to 3193
Data columns (total 69 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   State FIPS Code                         3157 non-null   object
 1   County FIPS Code                        3157 non-null   object
 2   5-digit FIPS Code                       3157 non-null   object
 3   State Abbreviation                      3157 non-null   object
 4   Name                                    3157 non-null   object
 5   Premature death                         3088 non-null   float64
 6   Poor or fair health                     2757 non-null   float64
 7   Poor physical health days               2823 non-null   float64
 8   Poor mental health days                 2605 non-null   float64
 9   Low birthweight                         3058 non-null   float64
 10  Adult smoking                           2727 non-null   float64
 11  Adult obesity                           3157 non-null   float64
 12  Food environment index                  3157 non-null   float64
 13  Physical inactivity                     3157 non-null   float64
 14  Access to exercise opportunities        3144 non-null   float64
 15  Excessive drinking                      2241 non-null   float64
 16  Alcohol-impaired driving deaths         3133 non-null   float64
 17  Sexually transmitted infections         2975 non-null   float64
 18  Teen births                             3056 non-null   float64
 19  Uninsured                               3156 non-null   float64
 20  Primary care physicians                 3018 non-null   float64
 21  Dentists                                3075 non-null   float64
 22  Mental health providers                 2822 non-null   float64
 23  Preventable hospital stays              3005 non-null   float64
 24  Diabetes monitoring                     3107 non-null   float64
 25  Mammography screening                   3064 non-null   float64
 26  High school graduation                  2688 non-null   float64
 27  Some colleg                             3157 non-null   float64
 28  Unemployment                            3156 non-null   float64
 29  Children in poverty                     3156 non-null   float64
 30  Income inequality                       3157 non-null   float64
 31  Children in single-parent households    3156 non-null   float64
 32  Social associations                     3157 non-null   float64
 33  Violent crim                            2990 non-null   float64
 34  Injury deaths                           3036 non-null   float64
 35  Air pollution - particulate matt        3124 non-null   float64
 36  Drinking water violations               3098 non-null   float64
 37  Severe housing problems                 3157 non-null   float64
 38  Driving alone to work                   3157 non-null   float64
 39  Long commute - driving alon             3157 non-null   float64
 40  Premature age-adjusted mortality        3088 non-null   float64
 41  Child mortality                         2012 non-null   float64
 42  Infant mortality                        1392 non-null   float64
 43  Diabetes prevalenc                      3157 non-null   float64
 44  HIV prevalenc                           2339 non-null   float64
 45  Food insecurity                         3157 non-null   float64
 46  Limited access to healthy foods         3157 non-null   float64
 47  Drug poisoning deaths                   2114 non-null   float64
 48  Motor vehicle crash deaths              2763 non-null   float64
 49  Uninsured adults                        3156 non-null   float64
 50  Uninsured children                      3156 non-null   float64
 51  Health care costs                       3151 non-null   float64
 52  Other primary care providers            3104 non-null   float64
 53  Could not see doctor due to cost        2402 non-null   float64
 54  Median household incom                  3156 non-null   float64
 55  Children eligible for free lunch        2878 non-null   float64
 56  Homicides                               1249 non-null   float64
 57  Population                              3157 non-null   float64
 58  % below 18 years of ag                  3157 non-null   float64
 59  % 65 and old                            3157 non-null   float64
 60  % Non-Hispanic African American         3157 non-null   float64
 61  % American Indian and Alaskan Nati      3157 non-null   float64
 62  % Asian                                 3157 non-null   float64
 63  % Native Hawaiian/Other Pacific Island  3157 non-null   float64
 64  % Hispanic                              3157 non-null   float64
 65  % Non-Hispanic whit                     3157 non-null   float64
 66  % not proficient in English             3157 non-null   float64
 67  % Females                               3157 non-null   float64
 68  % R                                     3157 non-null   float64
dtypes: float64(64), object(5)
memory usage: 1.8+ MB

,State FIPS Code,County FIPS Code,5-digit FIPS Code,State Abbreviation,Name,Premature death,Poor or fair health,Poor physical health days,Poor mental health days,Low birthweight,...,% 65 and old,% Non-Hispanic African American,% American Indian and Alaskan Nati,% Asian,% Native Hawaiian/Other Pacific Island,% Hispanic,% Non-Hispanic whit,% not proficient in English,% Females,% R
3,01,001,01001,AL,Autauga,8405.21,0.228,5.1,3.6,0.090851,...,0.135141,0.182728,0.005014,0.011367,0.000941,0.026988,0.759041,0.004765,0.514969,0.420022
4,01,003,01003,AL,Baldwi,7456.89,0.127,3.3,3.8,0.086702,...,0.181349,0.093797,0.007374,0.008842,0.000660,0.045766,0.831216,0.015600,0.511675,0.422791
5,01,005,01005,AL,Barbour,8900.51,0.234,4.8,4.3,0.118779,...,0.158591,0.471451,0.005872,0.005244,0.001847,0.048345,0.463325,0.022309,0.465135,0.677896
6,01,007,01007,AL,Bibb,10729.22,0.179,4.7,5.1,0.127874,...,0.142857,0.220149,0.003953,0.001555,0.001333,0.020700,0.745647,0.004286,0.459932,0.683526
7,01,009,01009,AL,Bl,8668.52,0.242,5.9,3.9,0.076908,...,0.164086,0.016381,0.006048,0.002782,0.001123,0.087106,0.878335,0.023226,0.505529,0.899515
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3189,56,37,56037,WY,Sweetwater,7064.96,0.142,3.7,3.7,0.094971,...,0.090081,0.014833,0.012490,0.008754,0.001636,0.158631,0.795853,0.019794,0.478745,0.109163
3190,56,39,56039,WY,Te,3852.81,0.059,2.1,2.3,0.062926,...,0.118062,0.013697,0.010149,0.012754,0.001302,0.150530,0.806853,0.030328,0.479747,0.464309
3191,56,41,56041,WY,Uinta,7435.94,0.135,4.0,3.5,0.089854,...,0.105003,0.007358,0.012674,0.004177,0.002184,0.090525,0.875439,0.009241,0.493022,0.430959
3192,56,43,56043,WY,Washakie,7571.92,0.106,2.8,2.3,0.052408,...,0.192012,0.007680,0.016661,0.007326,0.001418,0.141557,0.825948,0.015115,0.496632,0.359545
3193,56,45,56045,WY,Wes,7819.00,0.162,3.5,3.0,0.089947,...,0.173792,0.005029,0.016625,0.003493,0.000140,0.037580,0.922464,0.001640,0.475831,0.545366

In [78]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3157 entries, 3 to 3193
Data columns (total 69 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   State FIPS Code                         3157 non-null   object
 1   County FIPS Code                        3157 non-null   object
 2   5-digit FIPS Code                       3157 non-null   object
 3   State Abbreviation                      3157 non-null   object
 4   Name                                    3157 non-null   object
 5   Premature death                         3088 non-null   float64
 6   Poor or fair health                     2757 non-null   float64
 7   Poor physical health days               2823 non-null   float64
 8   Poor mental health days                 2605 non-null   float64
 9   Low birthweight                         3058 non-null   float64
 10  Adult smoking                           2727 non-null   float64
 11  Adult obesity                           3157 non-null   float64
 12  Food environment index                  3157 non-null   float64
 13  Physical inactivity                     3157 non-null   float64
 14  Access to exercise opportunities        3144 non-null   float64
 15  Excessive drinking                      2241 non-null   float64
 16  Alcohol-impaired driving deaths         3133 non-null   float64
 17  Sexually transmitted infections         2975 non-null   float64
 18  Teen births                             3056 non-null   float64
 19  Uninsured                               3156 non-null   float64
 20  Primary care physicians                 3018 non-null   float64
 21  Dentists                                3075 non-null   float64
 22  Mental health providers                 2822 non-null   float64
 23  Preventable hospital stays              3005 non-null   float64
 24  Diabetes monitoring                     3107 non-null   float64
 25  Mammography screening                   3064 non-null   float64
 26  High school graduation                  2688 non-null   float64
 27  Some colleg                             3157 non-null   float64
 28  Unemployment                            3156 non-null   float64
 29  Children in poverty                     3156 non-null   float64
 30  Income inequality                       3157 non-null   float64
 31  Children in single-parent households    3156 non-null   float64
 32  Social associations                     3157 non-null   float64
 33  Violent crim                            2990 non-null   float64
 34  Injury deaths                           3036 non-null   float64
 35  Air pollution - particulate matt        3124 non-null   float64
 36  Drinking water violations               3098 non-null   float64
 37  Severe housing problems                 3157 non-null   float64
 38  Driving alone to work                   3157 non-null   float64
 39  Long commute - driving alon             3157 non-null   float64
 40  Premature age-adjusted mortality        3088 non-null   float64
 41  Child mortality                         2012 non-null   float64
 42  Infant mortality                        1392 non-null   float64
 43  Diabetes prevalenc                      3157 non-null   float64
 44  HIV prevalenc                           2339 non-null   float64
 45  Food insecurity                         3157 non-null   float64
 46  Limited access to healthy foods         3157 non-null   float64
 47  Drug poisoning deaths                   2114 non-null   float64
 48  Motor vehicle crash deaths              2763 non-null   float64
 49  Uninsured adults                        3156 non-null   float64
 50  Uninsured children                      3156 non-null   float64
 51  Health care costs                       3151 non-null   float64
 52  Other primary care providers            3104 non-null   float64
 53  Could not see doctor due to cost        2402 non-null   float64
 54  Median household incom                  3156 non-null   float64
 55  Children eligible for free lunch        2878 non-null   float64
 56  Homicides                               1249 non-null   float64
 57  Population                              3157 non-null   float64
 58  % below 18 years of ag                  3157 non-null   float64
 59  % 65 and old                            3157 non-null   float64
 60  % Non-Hispanic African American         3157 non-null   float64
 61  % American Indian and Alaskan Nati      3157 non-null   float64
 62  % Asian                                 3157 non-null   float64
 63  % Native Hawaiian/Other Pacific Island  3157 non-null   float64
 64  % Hispanic                              3157 non-null   float64
 65  % Non-Hispanic whit                     3157 non-null   float64
 66  % not proficient in English             3157 non-null   float64
 67  % Females                               3157 non-null   float64
 68  % R                                     3157 non-null   float64
dtypes: float64(64), object(5)
memory usage: 1.8+ MB